@mixin grab-cursor {
  cursor: url("https://www.google.com/intl/en_ALL/mapfiles/openhand.cur"),
    all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

@mixin grabbing-cursor {
  cursor: url("https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur"),
    all-scroll;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

// img {
//   width: 100%;
// }
// .carousel-content-wrapper {
//   width: 100%;
//   display: flex;
//   position: relative;
//   overflow: hidden;
// }

// .carousel-content {
//   display: flex;
// }

// @media only screen and (min-width: 600px) {
//   body {
//     background-color: lightblue;
//   }
//   .carousel-content-wrapper {
//     width: 100%;
//     display: flex;
//     position: relative;
//   }
//   .carousel-component {
//     height: 300px;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//   }
//   .carousel-content {
//     @include grab-cursor;
//     &:active {
//       @include grabbing-cursor;
//     }
//   }
// }

// .animation {
//   transition-duration: 0.5s;
// }

// .carousel-element {
//   position: absolute;
//   top: 0;
//   left: 0;
// }

.carousel-component {
  overflow: hidden;
  position: relative;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
}
.carousel-content-wrapper {
  height: 133px;
  width: 100%;
  display: flex;
  position: relative;
  margin: 10px 0px;
}
.carousel-element {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.animation {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.animation-long {
  transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.flying-buttons {
}
.flying-buttons {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  z-index: 1;
  width: 100%;
}
.flying-button {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
.flying-button.active {
  background-color: black;
}
